.login-wrapper {
	text-align: center;
}

.login-wrapper > .card {
	width: 400px;
	padding: 10px;
	text-align: center;
    width: 500px;
    margin: auto;
    font-size: inherit;
}

.signup-link {
	margin-top: 25px;
}