<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  
  <script>
    window.instanceUrl = 'http://ft-djoker011.cl.dreamfactory.com';
    window.appKey = '819984e59b8d96961c827abc3fd05f1eba6b7913c286261396286225041d80c3';
  </script>


  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

  <app>Loading...</app>

  <!-- shims:js -->
  <!-- endinject -->

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

  <script>
    System.import('<%= BOOTSTRAP_MODULE %>')
      .catch(function (e) {});
  </script>
  <% } %>

</body>
</html>
