html {
  font-size: 14px;
}

.fa-trash.btn-danger, .fa-edit.btn-success, .fa-plus {
  min-width: 35px;
}

.navbar-default {
  padding: 0;
}


.dropdown-toggle {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}


.df-header {
  background-color: #7093B5;
  padding:10px;
}

.df-logo {
  width: 175px;
  height: 24px;
}

.h-centered {
  text-align: center;
}

.h-centered *{
  margin:auto;
  margin-top: 5px;
}

.df-header .container-fluid {
  width: 100%;
}
